
				{%extends "mybase.html" %}
					{% block mainbody %}
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>
									编号
								</th>
								<th>
									产品
								</th>
								<th>
									交付时间
								</th>
								<th>
									状态
								</th>
								<th>
									选择
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									1
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Default
								</td>
								<td>
									<a target="_blank" class="playitbtn tryitbtnsyntax" href="">尝试一下</a>
								</td>
								
							</tr>
							<tr class="success">
								<td>
									1
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Approved
								</td>
								<td>
									<a target="_blank" class="playitbtn tryitbtnsyntax" href="">尝试一下</a>
								</td>
							</tr>
							<tr class="error">
								<td>
									2
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									02/04/2012
								</td>
								<td>
									Declined
								</td>
								<td>
									<a target="_blank" class="playitbtn tryitbtnsyntax" href="">尝试一下</a>
								</td>
							</tr>
							<tr class="warning">
								<td>
									3
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									03/04/2012
								</td>
								<td>
									Pending
								</td>
								<td>
									<a target="_blank" class="playitbtn tryitbtnsyntax" href="">尝试一下</a>
								</td>
							</tr>
							<tr class="info">
								<td>
									4
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									04/04/2012
								</td>
								<td>
									Call in to confirm
								</td>
								<td>
									<a target="_blank" class="playitbtn tryitbtnsyntax" href="https://www.baidu.com/">尝试一下</a>
								</td>
							</tr>
						</tbody>
					</table>
				{% endblock %}